body div.memory-page {
  background-color: #eee;
  min-height: 100vh;
  /* max-width: 100vw; */
  padding-bottom: 3rem;

}

.card-section {
  list-style-type: none;
  display: grid;
  place-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto-fill;
  gap: 20px;
  padding-left: 0px;
}

.card-section li {
  display: inline;
}

ul.card-section {
  margin-bottom: 0px;
}

@media (max-width: 720px) {
  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
