body div.memory-page {
  background-color: #eee;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.card-section {
  list-style-type: none;
}

.card-section li {
  display: inline;
}

ul.card-section {
  margin-bottom: 0px;
}
