.jim-img {
  height: 24rem;
}

.mon-img {
  height: 24rem;
}

.box-container {
  width: 600px;
}

img.personal-img {
  border: 8px solid white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.jimmy-section {
  height: 600px;
  background-color: rgb(255, 203, 203);
}

.bam-section {
  color: white;
  height: 600px;
  background-color: rgb(192, 214, 232);

}
