.jim-img {
  height: 24rem;
}

.mon-img {
  height: 24rem;
}


img.personal-img {
  border: 8px solid white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.jimmy-section {
  min-height: 100vh;
  background-color: rgb(255, 203, 203);
}

.bam-section {
  color: white;
  min-height: 100vh;
  background-color: rgb(192, 214, 232);
}

.btn-mon {
  width: 200px;
  height: 45px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
