.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-mon {
  width: 200px;
  height: 45px;
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
}

.btn-mon:hover {
  background-color: black;
  color: white;
}

.welcome-section {
  min-height: 100vh;
  background-color: #bbd2fb;
}

.title-mon {
  color: #015cac;
}

/* Intro Section */

.intro-section {
  min-height: 100vh;
}

.intro-section ul {
  padding-left: 0px;
}

.intro {
  list-style-type: none;
  display: flex;
}

.intro li {
  display: inline;
}

.intro-item img {
  height: 250px;
  width: 250px;
  border: 6px solid transparent;
  transition: all 0.7s ease-in-out; /* Smooth transition for hover effects */
}

.intro-item:hover img {
  border-color: black;
}

.intro-item:hover span {
  color: black;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 1.2s;
  transform-style: preserve-3d;
  position: absolute;
}

.flip-card-inner:hover {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Why I Like Section */
.like-section {
  min-height: 100vh;
  background-color: #bbd2fb;
}

.like-box {
  background-color: white;
  width: 50vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.floating-box {
  animation: floatSlow 2s ease-in-out infinite;
}

@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* Moves up */
  }
  100% {
    transform: translateY(0px); /* Returns down */
  }
}

/* Record Section */
.record-section {
  min-height: 100vh;
}

.record-bg {
  /* border-top: 1px solid rgb(108, 117, 125); */
}

.count-info {
  color: #d4f6fd;
}

.count-box {
  background-color: #ff7ea4;
  width: 250px;
  height: 200px;
  transition: transform 0.3s ease;
  transform: translateY(-10px);
  /* animation: moveRightThenLeft 6s ease-in-out infinite; */
}

@keyframes moveRightThenLeft {
  0%,
  50%,
  100% {
    transform: translateY(-10px) translateX(0) rotate(0deg);
  }
  25% {
    /* 1s: Peak of Right movement */
    transform: translateY(-20px) translateX(30px) rotate(3deg);
  }
  75% {
    /* 3s: Peak of Left movement */
    transform: translateY(-20px) translateX(-30px) rotate(-3deg);
  }
}

@media (max-width: 720px) {
  .like-box {
    font-size: medium;
  }

  .count-box {
    width: 200px;
    height: 160px;
  }
}

@media (max-width: 480px) {
  .like-box {
    font-size: small;
  }

  .count-box {
    width: 160px;
    height: 128px;
  }
}
