.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
  gap: 0.75rem;
}

.gallery figure {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
}

.gallery img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.arrow {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 20px;
  height: 20px;
  transform: scale(0.2);
}
