.nav-bar-layout {
  background-color: white;
}

.nav-cust {
  display: flex;
  justify-content: space-evenly;
}

body a {
  color: black;
}

.nav-item-cust:hover {
  text-decoration: underline;
  color: grey;
}

.cinmon-img {
  height: 50px;
}

@media (max-width: 720px) {
  .nav-cust {
    align-items: end;
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .nav-cust {
    align-items: end;
    height: 100vh;
  }
}
